In [1]:
# imports
import pandas as pd

In [3]:
# load data
df = pd.read_excel('ia110220.xlsx')
print(df.shape)
df.head()

(13847, 262)

,SEC Region,Organization CRD#,SEC#,Firm Type,Umbrella Registration,Primary Business Name,Legal Name,Main Office Street Address 1,Main Office Street Address 2,Main Office City,...,11E(1),11E(2),11E(3),11E(4),11F,11G,11H(1)(a),11H(1)(b),11H(1)(c),11H(2)
0,NYRO,79,801-3702,Registered,N,J.P. MORGAN SECURITIES LLC,J.P. MORGAN SECURITIES LLC,383 MADISON AVE,NaN,NEW YORK,...,Y,Y,N,Y,N,Y,Y,Y,Y,Y
1,NYRO,231,801-54739,Registered,N,BNY MELLON SECURITIES CORPORATION,BNY MELLON SECURITIES CORPORATION,240 GREENWICH STREET,9TH FLOOR EAST,NEW YORK,...,N,Y,N,N,N,N,N,N,Y,N
2,CHRO,728,801-7395,Registered,N,ROTHSCHILD INVESTMENT CORPORATION,ROTHSCHILD INVESTMENT CORPORATION,311 SOUTH WACKER DRIVE,SUITE 6500,CHICAGO,...,N,Y,N,Y,N,N,N,N,N,N
3,CHRO,793,801-10746,Registered,N,"STIFEL, NICOLAUS & COMPANY, INCORPORATED","STIFEL, NICOLAUS & COMPANY, INCORPORATED",501 N BROADWAY,NaN,ST LOUIS,...,Y,Y,N,Y,N,Y,Y,Y,N,Y
4,NYRO,816,801-56264,Registered,N,CREDIT SUISSE SECURITIES (USA) LLC,CREDIT SUISSE SECURITIES (USA) LLC,11 MADISON AVENUE,NaN,NEW YORK,...,N,Y,N,Y,N,Y,Y,Y,Y,Y

In [4]:
df.describe()

,Organization CRD#,"Total number of offices, other than your Principal Office and place of business",5A,5B(1),5B(2),5B(3),5B(4),5B(5),5B(6),"5C(1)-If more than 100, how many",...,5F(3),"5H-If more than 500, how many",5I(2)(a),5I(2)(b),5I(2)(c),9A(2)(a),9A(2)(b),9B(2)(a),9B(2)(b),9F
count,13847.000000,13811.000000,13845.000000,13845.000000,13845.000000,13845.000000,13845.000000,13845.000000,13845.00000,36.000000,...,1.339700e+04,392.000000,2.044000e+03,2.044000e+03,2.044000e+03,6.878000e+03,6.882000e+03,4.633000e+03,4.638000e+03,9410.000000
mean,175493.335524,8.398523,66.495558,32.696786,28.406212,23.271362,1.465294,18.193499,24.25121,213.888889,...,1.866617e+09,8838.897959,1.433889e+09,8.530218e+08,2.039190e+09,2.263706e+09,5.584025e+04,3.659180e+09,7.287348e+04,3.720723
std,74353.971300,176.154638,784.312386,408.300743,518.814736,428.894847,49.571200,375.694591,2077.21559,557.111314,...,1.796210e+10,49258.499695,1.816762e+10,9.936664e+09,2.475581e+10,2.109954e+10,2.220132e+06,2.725235e+10,3.180594e+06,8.249549
min,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000e+00,500.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,120294.500000,0.000000,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000e+00,600.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.016068e+07,2.000000e+00,2.686886e+07,2.000000e+00,1.000000
50%,155860.000000,0.000000,8.000000,5.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000e+00,1000.000000,0.000000e+00,0.000000e+00,2.146808e+06,1.010495e+08,9.000000e+00,2.548375e+08,4.000000e+00,2.000000
75%,269922.500000,1.000000,20.000000,11.000000,1.000000,4.000000,0.000000,1.000000,0.00000,0.000000,...,1.854253e+07,2000.000000,0.000000e+00,6.551419e+07,1.920000e+08,4.756333e+08,7.575000e+01,1.109923e+09,1.300000e+01,3.000000
max,311184.000000,14439.000000,51576.000000,26968.000000,29618.000000,26968.000000,5205.000000,21502.000000,233412.00000,2200.000000,...,1.165452e+12,755313.000000,4.215021e+11,3.762753e+11,7.108694e+11,9.545531e+11,1.194812e+08,1.126772e+12,1.595995e+08,334.000000